<div class="container">
  <p id="notice"></p>
    <% if @book.errors.any? %>
        <div class="alert alert-danger">
          <ul>
              <%= @book.errors.count%>errors
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
    <% end %>
  <div class="row">
      <div class="col-12">
        <h1>Books</h1>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Body</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
              <% @books.each do |book| %>
               <tr>
                <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
                <td><%= link_to book.title, book_path(book) %></td>
                <td><%= book.body %></td>
                <td><% if book.favorited_by?(current_user) %>
                      <%= link_to book_favorites_path(book, redirect_id: 0), method: :delete, remote: true do %>
                        <%#= fa_icon "heart", text: "#{book.favorites.count}", style: "color: red;" %>
                        <span class="fas fa-heart like-btn"><%= book.favorites.count%></span>
                      <% end %>
                    <% else %>
                      <%= link_to book_favorites_path(book, redirect_id: 0), method: :post, remote: true do %>
                        <%#= fa_icon "heart-o", text: "#{book.favorites.count}", style: "color: red;" %>
                        <span class="far fa-heart unlike-btn"><%= book.favorites.count %></span>
                      <% end %>
                    <% end %>
                </td>
                <td>コメント数：<%= book.book_comments.count %></td>
               </tr>
              <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>